<div class="pokemon-card__container">
  <div *ngFor="let pokemon of pokemons | paginate: {itemsPerPage: 10, currentPage: page, totalItems: totalPokemons }" class="card border-info mb-3 pokemon-card">
    <div class="pokemon-card__img-content">
      <img  [src]="pokemon.sprites.front_default" class="card-img-top pokemon-card__image " alt="...">
    </div>
    <div class="card-body">
      <div class="pokemon-card__number">
        N0{{pokemon.id}}
      </div>
      <div class="pokemon-card__name">
        {{pokemon.name}}
      </div>
      <div class="pokemon-card__types">
        <div class="pokemon-card__type pokemon-card__type--grass">Grass</div>
        <div class="pokemon-card__type pokemon-card__type--poison">Poison</div>
      </div>
    </div>
  </div>
</div>
<div class="pagination-controls">
  <pagination-controls (pageChange)="page = $event; pokemons = []; getPokemons()"></pagination-controls>
</div>


