<div class="container pesquisar-pokemon">
  <app-pesquisar-pokemons (emmitPesquisar)="getPesquisar($event)"></app-pesquisar-pokemons>
</div>
<div class="container pokemon-card__container">
  <div *ngFor="let pokemon of pokemons | paginate: {itemsPerPage: 10, currentPage: page, totalItems: totalPokemons }" (click)="navegacao(pokemon.id)"  class="card border-info mb-3 pokemon-card">
    <div class="pokemon-card__img-content">
      <img  [src]="pokemon.sprites.other.home.front_default" class="card-img-top pokemon-card__image " alt="...">
    </div>
    <div class="card-body">
      <div class="pokemon-card__number">
        N0{{pokemon.id}}
      </div>
      <div class="pokemon-card__name">
        {{pokemon.name}}
      </div>
      <div class="pokemon-card__types">
        <div *ngFor="let type of pokemon.types" class="pokemon-card__type" [class]="'pokemon-card__type--' + type.type.name.toLowerCase()" >{{type.type.name}}</div>

      </div>
    </div>
  </div>
</div>
<div class="pagination-controls">
  <pagination-controls (pageChange)="page = $event; pokemons = []; getPokemons()"></pagination-controls>
</div>


