.container{
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.pokemon-card_container{
  background-color: #C0C0C0;
  border-radius: 10px;
  height: 400px;
  width: 600px;
  line-height: 50px;
  top: 50%;
  margin-top: -200px;
  left: 50%; /* posiciona na metade da tela */
  margin-left: -300px;
  align-items: center;
}

.pokemon-card_img{
  width: 250px;
  height: 250px;
  margin-top: 10px;
}
