<div class="container">
  <ng-template [ngIf]="isLoading" >
    <div class="card pokemon-card_container">
      <div class="pokemon-card_img">
        <img class="card-img-top slideInDown" [src]="pokemons[0].sprites.other.dream_world.front_default">
      </div>
      <div class="card-body">
        <h1 class="slideInRight" style="text-align: center;">{{pokemons[0].name}}</h1>
        <h2>Estatísticas</h2>
        <div class="pokemon-card_estatisticas">
          <div class="card">
            <div>
              <p>{{pokemons[0].stats[0].stat.name}}</p>
              <p>{{pokemons[0].stats[0].base_stat}}</p>
            </div>
            <div>
              <p>{{pokemons[0].stats[1].stat.name}}</p>
              <p>{{pokemons[0].stats[1].base_stat}}</p>
            </div>
            <div>
              <p>{{pokemons[0].stats[2].stat.name}}</p>
              <p>{{pokemons[0].stats[2].base_stat}}</p>
            </div>
          </div>
          <div class="card">
            <div>
              <p>{{pokemons[0].stats[3].stat.name}}</p>
              <p>{{pokemons[0].stats[3].base_stat}}</p>
            </div>
            <div>
              <p>{{pokemons[0].stats[4].stat.name}}</p>
              <p>{{pokemons[0].stats[4].base_stat}}</p>
            </div>
            <div>
              <p>{{pokemons[0].stats[5].stat.name}}</p>
              <p>{{pokemons[0].stats[5].base_stat}}</p>
            </div>
          </div>
        </div>
        <div style="margin: 30px;">
          <a style="width: 100%;" href="" class="btn btn-primary">Voltar</a>
        </div>

      </div>
    </div>
  </ng-template>
</div>
