.container {
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.pokemon-card_container {
  background-color: #c0c0c0;
  border-radius: 10px;
  height: 700px;
  width: 600px;
  line-height: 50px;
  margin-top: 1%;
  left: 50%; /* posiciona na metade da tela */
  margin-left: -300px;
  align-items: center;
  font-family: "Signika", arial, sans-serif;
}
.pokemon-card-header {
  display: flex;
}
.pokemon-card__infos {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  background-color: #c2ccd8;
  margin: 30px;
  border: 1px solid grey;

}
.pokemon-card__infos-body {
  display: flex;
}
.pokemon-card__infos-body ul {
  list-style: none;
  padding-left: 2rem;
  padding-right: 2rem;
}
.pokemon-card__infos-body li{
  display: flex;
  flex-direction: column;
}
.pokemon-card__infos-body .title-atributo{
  font-weight: bold;
  text-transform: uppercase;
}
.pokemon-card__infos-body .atributo-value{
  text-transform: capitalize;
}
.card-img-top {
  width: 200px;
  height: 200px;
  margin-top: 10px;
}
.card-body {
  width: 100%;
}
.card-body h2 {
  margin-left: 5px;
}
.pokemon-card_estatisticas {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.pokemon-card_estatisticas div {
  width: 50%;
}

.pokemon-card_estatisticas .card {
  display: flex;
  flex-direction: column;
  background-color: #c2ccd8;
}

.pokemon-card_estatisticas .card div {
  border-bottom: 1px solid grey;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.pokemon-card_estatisticas .card div p {
  margin: 10px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0px 20px;
}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.pokemon-card__types{
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  justify-content: space-evenly;
}
.pokemon-card__type-container{
  display: flex;
}

.pokemon-card__type{
  margin: 0 5px;
  border-radius: 3px;
  line-height: 18px;
  width: 70.4375%;
  float: left;
  text-transform: none;
  font-size: 15px;
  text-align: center;
  text-transform: capitalize;
}

@-webkit-keyframes slideInDown {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slideInDown {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
