<div class="container">
  <ng-template [ngIf]="isLoading">
    <div class="card pokemon-card_container">
      <div>
        <div class="dropdown">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            id="dropdownMenuButton2"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Dropdown button
          </button>
          <ul
            class="dropdown-menu dropdown-menu-dark"
            aria-labelledby="dropdownMenuButton2"
          >
            <li><a class="dropdown-item active" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Separated link</a></li>
          </ul>
        </div>
      </div>
      <div class="pokemon-card-header">
        <div class="pokemon-card_img">
          <img
            class="card-img-top slideInDown"
            [src]="pokemons[0].sprites.other.home.front_default"
          />
          <h1
            class="slideInRight"
            style="text-align: center; text-transform: capitalize"
          >
            {{ pokemons[0].name }}
          </h1>
        </div>
        <div class="card pokemon-card__infos">
          <div class="pokemon-card__infos-body">
            <div>
              <ul>
                <li>
                  <span class="title-atributo">Height:</span>
                  <span>sad</span>
                </li>
                <li>
                  <span class="title-atributo">Weigh:</span>
                  <span>sa</span>
                </li>
                <li></li>
              </ul>
            </div>
            <div>
              <ul>
                <li>
                  <span class="title-atributo">Category:</span>
                  <span></span>
                </li>
                <li>
                  <span class="title-atributo">Abilities:</span>
                  <span class="atributo-value">{{
                    pokemons[0].abilities[0].ability.name
                  }}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="card-body">
        <h2>Estatísticas</h2>
        <div class="pokemon-card_estatisticas">
          <div class="card">
            <div>
              <p>{{ pokemons[0].stats[0].stat.name }}</p>
              <p>{{ pokemons[0].stats[0].base_stat }}</p>
            </div>
            <div>
              <p>{{ pokemons[0].stats[1].stat.name }}</p>
              <p>{{ pokemons[0].stats[1].base_stat }}</p>
            </div>
            <div>
              <p>{{ pokemons[0].stats[2].stat.name }}</p>
              <p>{{ pokemons[0].stats[2].base_stat }}</p>
            </div>
          </div>
          <div class="card">
            <div>
              <p>{{ pokemons[0].stats[3].stat.name }}</p>
              <p>{{ pokemons[0].stats[3].base_stat }}</p>
            </div>
            <div>
              <p>{{ pokemons[0].stats[4].stat.name }}</p>
              <p>{{ pokemons[0].stats[4].base_stat }}</p>
            </div>
            <div>
              <p>{{ pokemons[0].stats[5].stat.name }}</p>
              <p>{{ pokemons[0].stats[5].base_stat }}</p>
            </div>
          </div>
        </div>
        <div class="pokemon-card__types">
          <h2>Fraquezas</h2>
          <div class="pokemon-card__type-container">
            <div
              *ngFor="let type of pokemons[1]"
              class="pokemon-card__type"
              [class]="'pokemon-card__type--' + type.toLowerCase()"
            >
              {{ type }}
            </div>
          </div>
        </div>
        <div style="margin: 30px">
          <a
            style="width: 100%; background-color: #ee6b2f"
            href=""
            class="btn btn-primary"
            >Explorar Mais Pokémons</a
          >
        </div>
      </div>
    </div>
  </ng-template>
</div>
<app-pokemon-card-evolucoes></app-pokemon-card-evolucoes>
